doctype html
html
  head
    //title= title
    //parm1 
    //link(rel='stylesheet', href='/stylesheets/style.css')
    title Image style changer
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- .ui.borderless.main.menu
    //-   .ui.container
    //-     a.header.item(href='/')
    //-     img.logo(src='https://cdn-icons-png.flaticon.com/512/2111/2111432.png')
    //-     |&nbsp;&nbsp;&nbsp;GitHub Status 
    block content
